body{
	margin: 0;
	padding: 0;
	text-align:center;	
}

header{
	background-color:#D3B5E3;
	text-align:center;
}

#navbar-container{
	float:left;
	width:33%;
	position:relative;
}

h1{
	text-align:center;
}

#main-navbar{
	background-color:#97C8EB;
	overflow: hidden;
}

#main-nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	border-style:color:#CCD5FF; double;
}

#main-navbar ul li{
	display:block;
	position: relative;
	right: 50%;
}

#onpage{
	text-decoration: underline;
}

#main-navbar ul li a:hover{
	display:block;
	text-decoration:none;
	background-color:000
}

ul{
	display:block;
	text-decoration:none;
	background-color:000;
}

section{
	padding: 15px;
	max-width: 800px;
	margin: 10px auto;
	background-color:#DDD9D0;
	border-style: double;
	border-radius: 10px;
}