body{
	text-align:center;	
}

header{
	text-align:center;
}

nav{
	background-color:#97C8EB;
	overflow: hidden;
}

nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	left: 50%;
	float: left;
}

nav ul li{
	display: block;
	float: left;
	position: relative;
	right: 50%;
}

nav ul li a:hover{
	background-color:000
}