body{
	margin: 0;
	padding: 0;
	text-align:center;	
}

header{
	background-color:#D3B5E3;
	text-align:center;
}

#navbar-container{
	float:left;
	width:33%;
	position:relative;
}

h1{
	text-align:center;
}

#main-navbar{
	background-color:#97C8EB;
	overflow: hidden;
}

#main-nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	left: 50%;
}

#main-navbar ul li{
	display: block;
	position: relative;
	right: 50%;
}

#main-navbar ul li a:hover{
	display:block;
	text-decoration:none;
	background-color:000
}

ul{
	display:block;
	text-decoration:none;
	background-color:000;
}
